* {
  all: unset;
}
.next-app-layout {
  width: 100%;

  .container {
    max-width: 1440px;
    margin: 0px auto;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #a8a8a8;
  }

  .layout-body {
    margin-top: 80px;
    display: flex;
    justify-content: start;
    align-items: flex-start;

    .sidebar {
      position: fixed;
      top: 80px;
      left: max(0px, calc(50% - 45rem));
      width: 304px;
      height: calc(100vh - 80px);
      border-right: 2px solid #110808;
      display: flex;
      padding: 0 24px 40px 32px;

      nav {
        flex-direction: column;
        gap: 10px;
        display: flex;
      }

      .nav-item {
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        font-family: sans-serif;
      }
    }

    .page-body {
      width: 100%;
      margin-left: 362px;
      height: calc(100dvh - 80px);
    }
  }
}
